<%= render partial: "shared/header" %> 
<h2>Create a Discount</h2>
<%= form_with url: merchant_discounts_path(@merchant.id), method: :post, local: true do |form| %>
<%= form.label :quantity, "Quantity of Items" %><br/>
<%= form.text_field :quantity %><br/>
<%= form.label :percentage, "Percentage Off" %><br/>
<%= form.text_field :percentage %><br/>
<%= form.submit 'Submit' %>
<% end %>